.menu__container{
  display: block;
  margin: auto;
  padding: 2rem 2rem 2rem 1rem;
  background-color: var(--color2);
  border-bottom-right-radius: 3px;
}
.menu__container img{
  width: 200px;
  display: block;
  margin: auto;
  margin-bottom: 1rem 
}
.menu__container__links{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.menu__container__links a{
  color: var(--color-light);
  text-decoration: none;
  font-family: var(--primary-font);
}

@media (max-width: 1000px) {

  .menu__container img{
    width: 70px;
  }
 
  }

  @media (max-width: 768px) {
    .menu__container {
      min-width: 90vw;
      max-width:90vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      }
      .menu__container__links{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
      }
    }   