.container__candidato{
  background: #ebf5ff;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
}
.container__candidato__formulario{
 background-color: #E1F5FE;
  min-width: 22vw;
  width: 22vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 30vh;
  padding-top: 30vh;
}

.info__datos__container{
  padding: 1rem;
  min-width: 30%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.info__datos__container__names{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  font-family: var(--primary-font);
  font-weight: 600;
  color: var(--secundary-color);
  font-style: italic;
}
.container__candidato__info{

  padding-left: 0.0rem;
  display: flex;
  flex-direction: column;
  width: 58vw;
 
}

.container__candidato__info__reseña{

margin-top: 2rem;
font-size: 1rem;
font-family: var(--secundary-font);
font-weight: 400;
color: var(--secundary-color);
font-style: oblique;
}
.container__candidato__info__image{
  border-radius:0.3rem;
  max-width: 40%;
  min-width: 40%;
  min-height:60vh;
  max-height: auto;
}
.container__candidato__info__datos{
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 62vh;
}

.info__datos__container img {
  border-radius: 0.6rem;
}
.info__datos__container__partido p{
  margin: 1rem 0rem;
  font-family: var(--primary-font);
  font-weight: 600;
  color: var(--secundary-color);
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container__candidato__info__datos{
  
    height: auto;
  }
  .container__candidato__info__image{
  
    transition:  0.3s;
    border-radius:0.3rem;
    max-width: 50%;
    min-width: 50%;
    min-height:35vh;
    max-height: auto;
  }
  .info__datos__container img {
    border-radius: 0.5rem;
    transition:  0.3s;
    width: 7em;
    height: auto;
  }
  .container__candidato__info__reseña {
    margin-top: 1rem;
  }
  
}

@media (min-width: 768px) and (max-width: 991px) {
  .container__candidato__info{
    
    display: flex;
    flex-direction: column;
    width: 60vw;
   
  }
  .container__candidato__formulario{
  
    width: 38vw;  
    padding-right: 3rem;
  }
 
  .container__candidato__info__datos{
    
    flex-direction: column;
    height:auto;
  }
  .container__candidato__info__image{
    transition:  0.3s;
    border-radius:0.3rem;
    max-width: 100%;
    min-width: 100%;
    min-height:auto;
    max-height: auto;
  }  
  .info__datos__container{
 
    padding: 0.3rem 0.4rem;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    max-width: 100%;
  }

  .info__datos__container__names {
    
    width: 60%;
  }
  .info__datos__container__names p{
    font-size: 1rem;
  }
  .info__datos__container__partido{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 60%;
    gap: 0.5rem;
  }
  .info__datos__container__partido p{
    margin: 1rem 0rem;
    font-family: var(--primary-font);
    color: var(--secundary-color);
    font-weight: 600;
   font-size: 1rem;
  }
  .info__datos__container img {
    border-radius: 0.5rem;
    transition:  0.3s;
    width: 5em;
    height: auto;
  }

  .container__candidato__info__reseña {
   
    margin-top: 0rem;
    padding: 1rem 1rem 1rem 0rem ;
    text-align:left;
    font-family: var(--secundary-font);
    font-size: 1rem;
    font-weight: 400;

    }
}


@media (max-width: 767px) {
.container__candidato{

  flex-direction: column;
}
.container__candidato__info{
  width: 100vw;
}
.container__candidato__info__datos{

  flex-direction: column;
  width: 100vw;
  height: auto;
}
.container__candidato__info__image{

  transition:  0.3s;
  border-radius:0.3rem;
  max-width: 100%;
  min-width:100%;
  min-height:60vh;
  max-height: auto;
}
.container__candidato__formulario{
  
  background-color: #E1F5FE;
   min-width: 100vw;
   max-width: 100vw;
   height: auto;
   padding-left: 2rem;
   padding-right: 2rem;
   padding-bottom: 30vh;
   padding-top: 3vh;
 }


.info__datos__container{

  
  padding: 0.3rem 1rem 0.3rem 0.5rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 100%;
  max-width: 100%;
}
.info__datos__container__names {

  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
}
.info__datos__container__names > p {
 font-size: 0.8rem;
}

.container__candidato__info__image{
  transition:  0.3s;
  max-width: 100%;
  min-width: 100%;
 
}
.info__datos__container__partido{
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}
.info__datos__container__partido > p{
  font-size: 0.8rem;
}
.info__datos__container img {
  border-radius: 0.5rem;
  transition:  0.3s;
  width: 4em;
  height: auto;
}  
.container__candidato__info__reseña {
  padding: 0.3rem 0rem 0rem 0.5rem;
}
}