
.char__container{
  padding: 0vh 0vw;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-family: var(--primary-font);
  color: var(--color-light);
  border-radius: 0.5rem;
  padding: 1.5rem;
  background: rgba(27, 47, 114, 0.623); 
  height: auto;
  color: white;
}
.char__container canvas{  
  display: flex;
  flex-direction: column;
  align-items:center;
  gap:2rem;
}