
.main__container__sidebar{
  background-color: var(--primary-color);
  max-width: 19vw;
  min-width: 18vw;
  min-height: 100vh;
  max-height: auto;
 
}
.boton__container{
  border: solid 2px  red;
  display: inline-block;
  margin: 3rem 5rem;
}