
.main__container__sidebar{
  background-color: var(--primary-color);
  max-width: 19vw;
  min-width: 18vw;
  min-height: 100vh;
  max-height: auto;
 
}
.boton__container{
  border: solid 2px  red;
  display: inline-block;
  margin: 3rem 5rem;
}
@media (max-width: 1000px) {
  .main__container__sidebar{
    background-color: var(--primary-color);
    max-width: 12vw;
    min-width: 12vw;
  }
    
  }

@media (max-width: 768px) {
.main__container__sidebar{
 display: none;
 
}
  
}