

  @import "tailwindcss"; 

  
input, textarea, select {
  font-size: 16px; /* Tamaño mínimo para evitar zoom automático */
}

/* Deshabilita el resaltado azul en móviles */
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

/* Fuerza el scroll suave */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
 
}



@theme{
  --color-french-blue-50: #e6f0ff;
--color-french-blue-100: #cde1fe;
--color-french-blue-200: #9bc2fd;
--color-french-blue-300: #68a4fd;
--color-french-blue-400: #3685fc;
--color-french-blue-500: #0467fb;
--color-french-blue-600: #0352c9;
--color-french-blue-700: #023e97;
--color-french-blue-800: #022964;
--color-french-blue-900: #011532;
--color-french-blue-950: #010e23;


}
  :root {

    --primary-font:"Montserrat", serif;
    --secundary-font: "Roboto Mono", monospace;
    --primary-color:#12192c;
    --secundary-color:#124463;
    --tercer-color:#120907 ;
    --cuarto-color:#a7b9df ;
    --blue-white: #ecfcff;
    --color-light:#ffffff;
  }
  