

  @import "tailwindcss"; 

  
input, textarea, select {
  font-size: 16px; /* Tamaño mínimo para evitar zoom automático */
}

/* Deshabilita el resaltado azul en móviles */
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

/* Fuerza el scroll suave */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
 
}
  :root {

    --primary-font:"Montserrat", serif;
    --secundary-font: "Roboto Mono", monospace;
    --primary-color:#12192c;
    --secundary-color:#124463;
    --tercer-color:#120907 ;
    --cuarto-color:#a7b9df ;
    --blue-white: #ecfcff;
    --color-light:#ffffff;
  }
  