
.main{
  display: flex;
  flex-direction: row;
}
.main footer {
  display: none;
}

.main__container{
  display: block;
  margin: auto;
}


.main__container__title{
  font-size: 32px;
  font-family:var(--primary-font);
  font-weight:800;
  font-style: normal;
  display: inline-block;
  margin-left: 20vw;
  margin-right: 10vw;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--color3);

}
 .main__container__card{
  max-width: 71vw;
  min-width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
} 

.main__container__header{
  background-color: var(--primary-color);
  width: 100vw;
  
}
.header__movile{
  display: none;
}

.header__menu{
  margin-left: 6vw;
  margin-right: 6vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.logo{
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.logo > p {
  font-family: var(--primary-font);
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}
.menu__links{
  width: 40vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu__links__link  {
 list-style: none;
}
.menu__links__link a{
  text-decoration: none;
  color: white;
  font-family: var(--primary-font);
  font-size: 1rem;
}


.main__container__hero{
  display: inline-block;
  background-image: url('https://res.cloudinary.com/rlipac/image/upload/v1746284696/lima-costa_1920_etpbpg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center ;
  height: 90vh;
}
.container__hero{
  margin-left: 6vw;
  margin-right: 6vw;
  margin-top: 13rem;
  display: flex;
  flex-direction: row;
justify-content: space-between;
}
.hero__mascara{
border-radius: 0.5rem;
  padding: 1.5rem;
  display: inline-block;
  background: rgba(27, 47, 114, 0.623); 
  width: 45%;
  height: 35%;
  color: white;
}

.mascara__article{
  font-family: var(--primary-font);
  font-weight: 600;
  font-style: italic;
  font-size: 1.5rem;
}
.article__slogan  span{
  /* color: rgb(100, 100, 211); */
  color: var(--blue-white);
}
.mascara__article__parrafo{
  margin-top: 0.5rem;
  font-family: var(--secundary-font);
  font-weight: 500;
  font-size: 0.9rem;
}
.main__container__comofunciona{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 992px) and (max-width: 1199px) {
  

  .main__container__card{ 
    margin-left: 5.6vw;
    margin-right: 5.6vw;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main{
    display: block;
   
  }
  .main footer {
    display: block;
  }
  .header__movile{
    background: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 4rem;
    max-height: 4rem;
    min-width: 100vw;
    padding: 0rem 0rem;
    
  }
  .main__container__title{
    font-size: 1.3rem;
    font-family:var(--secundary-font);
    margin-left:  14.5vw;
    margin-right: 14vw;
    color: var(--color3);
  
  }
  
  .main__container__card{
    max-width: 100vw;
    min-width: 100vw;
    flex-direction: column;
    margin-left: 0.1vw;
    margin-right: 0.1vw;
    gap: 3rem;
  } 
  
}

@media (max-width: 480px) {
  .header__movile{
    min-height: 3.5rem;
    max-height: 3.5rem;

    
  }
  
  .main__container__title{
    font-size: 1.1rem;
    margin-left:  15vw;
    margin-right: 11vw;
   
  
  }
}

  
/* --primary-font:"Montserrat", serif;
--primary-color:#12192c;
--secundary-color:#124463;
--tercer-color:#120907 ;
--blue-white: #e7ffff;
--color-light:#ffffff; */